.fa {
    padding: 10px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #81858f;
    color: white;
  }
  
  .fa-twitter {
    background:#81858f;
    color: white;
  }

  .topbar{
    background-color: #afb4c0;
  }

  .t1Button{
    background-color: #81858f;
            border: none;
            color: white;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 0px 0px;
            cursor: pointer;
            margin-top: 0px;
            margin-right: 404px;
            position:absolute;
            top:0;
            right: 0;
  }
  .t2Button{
    background-color: #81858f;
            border: none;
            color: white;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 0px 0px;
            cursor: pointer;
            margin-top: 0px;
            margin-right: 341px;
            position:absolute;
            top:0;
            right: 0;
  }
  .t3Button{
    background-color: #81858f;
            border: none;
            color: white;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 0px 0px;
            cursor: pointer;
            margin-top: 0px;
            margin-right: 220px;
            position:absolute;
            top:0;
            right: 0;
  }
  .t4Button{
    background-color: #81858f;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 0px;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 80px;
    position:absolute;
    top:0;
    right: 0;
  }

  .HomeButton{
    background-color: rgba(48, 121, 206, 0.726);
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px 0px;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 312px;
    position:absolute;
    top:50;
    right: 0;
  }
  .ContactButton{
    background-color: #4ca351;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px 0px;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 205px;
    position:absolute;
    top:20;
    right: 0;
  }

  .FeedBackButton{
    background-color: rgb(187, 41, 41);
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px 0px;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 80px;
    position:absolute;
    top:20;
    right: 0;
  }



  #mainheader{
    display: inline-block ;
  }

  #topbar{
      display: inline-block;

  }
  
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.navbar{
    background-color: rgba(48, 121, 206, 0.726) ;
    color: #fff;
    position: static;
    width: 100%
}

.navbar ul{
    color: white;
    padding: 0;
    list-style: none;
}

.navbar li{
    color: white;
    display: inline-block;
}
.navbar a {
  float: left;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  width: 12%; /* Four links of equal widths */
  text-align: center;
  }

.Button{
  background-color:  rgba(48, 121, 206, 0.726);
  color: white;
  padding: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.navbar button.fa:hover

#maintable{
  float: right;
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
}

#sidesection{
  float: left;
    width: 30%;
    padding: 0 30px;
    box-sizing: border-box;
}

.OsideButton{
  width: 100%;
  padding: 12px;
  margin: 8px 2px;
  background-color: rgba(48, 121, 206, 0.726) ;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.EsideButton{
  width: 100%;
  padding: 12px;
  margin: 8px 2px;
  background-color: rgba(193, 202, 212, 0.726) ;
  color:black;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.SMButton{
  background-color:  rgba(48, 121, 206, 0.726);
  color: white;
  padding: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.VPButton{
  background-color:  #4ca351;
  color: white;
  padding: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
